spring:
  application:
    name: InventoryFlow
  datasource:
    url: jdbc:sqlserver://MSI\SQLEXPRESS;databaseName=inventoryflow;encrypt=true;trustServerCertificate=true;
    username: root
    password: root
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
  security:
    jwt:
      secret: InventoryFlowSecretKeyForJWTTokenGeneration2024SecureKey
      expiration: 86400000 # 24 hours in milliseconds

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE


